body{
  /* background-color: #dff5ff; */

  background-color: #C0D6E8;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#footer {
  margin-top: auto;
}

#header span{
    color: white;
}

.flex-img{
  display: flex;
  align-items: center;
  justify-content: center;
}


#start  img{
  border-radius: 20%;
  max-width: 80%;
  height: auto;  
  max-height: 80%;
}




.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


#hero img{
    height: 300px;
    width: 300px;
    border-radius: 10%;
    max-width: 119%;
}

#start{
  height: 80vh;
  background: rgb(28,173,243);
  background: radial-gradient(circle, rgba(28,173,243,1) 0%, rgba(0,0,4,1) 86%);
}


#SVG{ 
  background-color: aliceblue;
  border-radius: 50%;
  height: 1em;
  padding: 3px;
}

#footer{
  background: rgb(28,173,243);
  background: radial-gradient(circle, rgba(28,173,243,1) 0%, rgba(0,0,4,1) 86%);
  color: white;
}

#footer a{
  color: white;
}

.contact-img{
  height: 170px;
  width: 170px;
  border-radius: 50%;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 4rem;
}

.flex-contact{
  text-align: center;
  padding: 40px;
  background-color: white;
  border-radius: 10%;
  min-width: 320px;
}


#contact-page .container{
  min-height: 70vh;
}

@media(max-width: 1200px){
  .grid{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .contact-1{
    grid-column: span 2;
  }

}

@media(max-width: 800px){
  .grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .contact-1{
    grid-column: span 1;
  }

}

.gone{
  display: none;
}


#loading{
  margin-top: 80px;
}


#shila{
  border-radius: 50%;
}

#contact-page > div{
  min-height: 85vh;
}



#bill-div{
  width: 70%;
  margin-left: 15%;
}

.card-img{
  height: 100%;
  width: 100%;
  border-radius: 15%;
}

.item-handler{
  width: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 10px;
  margin-bottom: 0px;
}

#final-bill{
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-svg{
  height: 20px;
  margin-right: 5px;
}

.contact-btn{
  width: 170px;
}

.contact-name{
  margin: 15px;
}

.mistake::placeholder{
  color: red;
}

.red-text{
  color: red;
}

.normal-text{
  color: black;
}
 
.modal-btn{
  margin: 0px 5px;
} 

#buy-img{
  width: 200px;
  border-radius: 25%;
}

#use-img{
  height: 300px;
  width: 300px;
  border-radius: 10%;
  max-width: 119%;
}

.use-head{
  font-weight: 630;
}

#use-btn{
  width: 85%;
}

.white-back{
  background-color: white;
  margin-left: 1px;
  margin-right: 1px;
}

#use img{
  max-width: 100%;
  height: auto;
}
