body{
  /* background-color: #dff5ff; */

  background-color: #C0D6E8;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#footer {
  margin-top: auto;
}

#header span{
    color: white;
}

.flex-img{
  display: flex;
  align-items: center;
  justify-content: center;
}


#start  img{
  border-radius: 20%;
  max-width: 80%;
  height: auto;  
  max-height: 80%;
}




.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#hero-cont{
  background-color: white;
  margin-left: 1px;
  margin-right: 1px;
}

#hero img{
    height: 300px;
    width: 300px;
    border-radius: 10%;
    max-width: 119%;
}

#start{
  height: 80vh;
  background: rgb(28,173,243);
  background: radial-gradient(circle, rgba(28,173,243,1) 0%, rgba(0,0,4,1) 86%);
}


#SVG{ 
  background-color: aliceblue;
  border-radius: 50%;
  height: 1em;
  padding: 3px;
}

#footer{
  background: rgb(28,173,243);
  background: radial-gradient(circle, rgba(28,173,243,1) 0%, rgba(0,0,4,1) 86%);
  color: white;
}

#footer a{
  color: white;
}

#contact-page img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 15px;

}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 4rem;
}

.flex-contact{
  text-align: center;
  margin-top: 30px;
  padding: 40px;
  background-color: white;
  border-radius: 10%;
  min-width: 320px;
}

#contact-page .container{
  min-height: 70vh;
}

@media(max-width: 1200px){
  .grid{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .contact-1{
    grid-column: span 2;
  }

}

@media(max-width: 800px){
  .grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .contact-1{
    grid-column: span 1;
  }

}

.gone{
  display: none;
}


#loading{
  margin-top: 80px;
}


#shila{
  border-radius: 50%;
}

#contact-page > div{
  min-height: 85vh;
}
